@import 'vars';

body {
    // Spacing
    --margin: 30px;

    // color vars
    --white: #ffffff;
    --black: #000000;

    // type vars
    --font-body: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    --font-sans: sans-serif;
    --font-mono: monospace;
    --font-serif: serif;

    font-family: var(--font-body);
    @include fontSize(16px);
    margin: 0;

    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
}

// mobile globals
@include bp(s) {
    html {
        // Globally adjusts everything
        // set with the fontSize mixin
        font-size: 12px;
    }
    .desktop-only {
        display: none;
    }
}
@include bigger-than(700px) {
    .mobile-only {
        display: none;
    }
}

a,
button {
    transition: color 200ms;
    text-decoration: none;
    color: inherit;
}

// Structure
#wrapper {
    grid-template-rows: auto 1fr auto;
    display: grid;
    min-height: 100vh;
}
#container {
    position: relative;
}
.contained {
    padding-right: var(--margin);
    padding-left: var(--margin);
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

// Text selection
::selection {
    color: #ebebe3;
    background: #222;
}
::-moz-selection {
    color: #ebebe3;
    background: #222;
}

// Form Resets
button {
    @include button-reset;
    @include no-select;
}
input {
    @include input-reset;
}

// Z-index layering
