@import 'vars';

body {
    font-family: $font-body;
    background-color: $white;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
}
a {
    transition: color 250ms $easeInOutQuad;
    color: $black;
}

// button reset
button {
    @include no-select;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-family: $font-body;
    border-radius: 0;
    font-weight: 400;
    font-size: 18px;
}
// input reset
input {
    background-color: transparent;
    appearance: none;
    font-family: $font-body;
    border-radius: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    border: none;

    &:focus {
        outline: none;
    }
}
// ::-webkit-scrollbar {
//     display: none;
// }

// layering
