@import 'easings';

// Sass constants
$white: #ffffff;
$black: #000000;

$font-body: 'GT Walsheim';
$desktop-padding: 50px;
$mobile-padding: 15px;
$header-height: 90px;

// Breakpoints
$gt-cinema: 'only screen and (min-width: 1800px)';
$lt-desktop: 'only screen and (max-width: 1100px)';
$lt-phone: 'only screen and (max-width: 750px)';
$lt-phone-landscape: 'only screen and (max-width: 750px) and (orientation: landscape)';

// mixins
@mixin fill {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
@mixin cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@mixin contain {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@mixin scale-type($size) {
    font-size: #{$size}px;
    font-size: #{$size / 1200 * 100}vw;
}
@mixin no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
